fastapi
uvicorn
pypdf
python-docx
requests
pymongo
pinecone-client
google-generativeai
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-pinecone
gunicorn
uvloop
pdfminer.six<20240703
pillow-heif
pytesseract
pi_heif
easyocr
torch
pdf2image
unstructured_inference
unstructured[all-docs]
openpyxl
python-pptx
pillow
pandas
msoffcrypto-tool
typing-extensions
aiofiles
tenacity
filelock
docx2txt
httptools