fastapi
uvicorn
pypdf
python-docx
requests
pymongo
pinecone-client
google-generativeai
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-pinecone
gunicorn
uvloop
typing-extensions
aiofiles
tenacity
filelock
docx2txt
httptools